
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Avenir');

html,body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100%;

  background-clip: border-box;
  text-align: center;
}

#page2 {
  position: relative;
  max-width: 1440px;
  margin: auto;
  max-width: 100%;
  overflow: hidden;
}

header {
  height: 100vh;
  background-image: url(../img/flyg-desk-head.png);
  background-size: cover;
  position: relative;
}

.port {
  width: 100%;
  height: 100%;
}











/*  Uface start  */


.flyg-desk-1 {
  width: 24%;
  position: absolute;
  left: 11.5%;
  top: 15.2%;
}

.flyg-desk-2 {
  width: 73%;
  position: absolute;
  left: 13.4%;
  top: 34.7%;
}

.flyg-desk-3 {
  width: 73.3%;
  position: absolute;
  left: 13%;
  top: 44.4%;
}

.flyg-desk-4 {
  width: 73.3%;
  position: absolute;
  left: 13%;
  top: 54%;
}

.flyg-desk-5 {
  width: 73%;
  position: absolute;
  left: 13.2%;
  top: 63.8%;
}

.flyg-desk-6 {
  width: 68%;
  position: absolute;
  left: 16%;
  top: 71.3%;
}

.flyg-desk-7 {
  width: 73%;
  position: absolute;
  left: 13.5%;
  top: 84.3%;
}

.left-btn,.right-btn {
  position: absolute;
}

.left-btn img {
  float: left;
  margin-top: 3%;
}

.left-btn {
  top: 98.6%;
  left: 12.6%;
}

.right-btn {
  right: 12.6%;
  top: 98.6%;
  float: right;
  width: 320px;

}

.right-btn img {
  float: right;
  margin-top: -21%;
  padding-top: 6%;
}

.left-btn p {
  float: left;
  padding-left: 4%;
  margin: 0;
  padding-bottom: 6px;
  font-size: 18px;
}

.right-btn p {
  margin: 0;
  padding-bottom: 6px;
  font-size: 18px;
  text-align: right;
  padding-right: 14%;
}

.title {
  font-weight: 800;
}

.role {
  font-size: 16px;
  opacity: 0.57;
}

.left-btn:hover,.right-btn:hover {
  -webkit-transform:scale(1.08);
  -moz-transform:scale(1.08);
  -o-transform:scale(1.08);
  margin-top: -8px;
}

a {
  text-decoration: none;
  color: #000;
}
/*  Uface end  */

